@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&display=swap');

body {
    background-color: #f4f4f4;
    color: #000;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

.container-col {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container-row {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.block {
    flex: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.block img {
    height: 250px;
    width: auto;
}

.block img:hover {
    transform: scale(1.05);
    transition: all ease;
    border-radius: 15px;
}

.ingredients {
    font-size: 18px;
    flex: 1;
    display: block;
}

.piechart {
    flex: 1;
    float: right;
    display: block;
    text-align: right;
}

.showcase {
    flex: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.showcase img {
    max-width: 100%;
    max-height: auto;
}

.instructions {
    float: left;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.instructions li {
    font-size: 32px;
    margin-bottom: 20px;
}

.instructions li div {
    font-size: 16px;
    border-left: 1px solid #000;
    padding-left: 10px;
}

#main-header {
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
}

#main-footer {
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

#main-footer a {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    float: right;
}

#git {
    color: #6e5494;    
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}